<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/jquery-1.8.0.min.js"></script>
</head>
<body>
    <button id="bt1">click1</button>
    <button id="bt2">clickW</button>
    <button id="bt3">clickR</button>
</body>
<script>
    $("#bt1").click(function(){
        $.post('test1',{name:"1"},function(data){
            alert('ok');
        })
    });
    $('#bt2').click(function(){
        $.post('testw',{name:"1"},function(data){
            alert('ok');
        })
    });
    $("#bt3").click(function(){
        alert("you");
        $.get('testr',function(data){
            alert(data);
        })
    });
</script>
</html>
