.friendList{
    display: block ! important;
    margin-left: 20px;
    margin-right: 20px;
}
.fl2{
    display: none;
    cursor:pointer;
}
.agree{
    cursor:pointer;
}
.disagree{
    cursor:pointer;
}
.talkArea{
    height: 40px;
    width: 700px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.talkArea .send {
    position:absolute;
    float: right;
    right:50px;
    width: auto;
    height:35px;
    background:#F8C301;
    border-radius:5px; /* 圆角 */
    margin:0;
    padding: 5px;
}

.talkArea .sendUser{
    position: absolute;
    float: right;
    right:20px;
    width:20px;
    height: 20px;
    padding: 5px;
}
.talkArea .sendDate{
    position: absolute;
    float: right;
    right:-40px;
    width: 200px;
    height: 35px;

}
.talkArea .send .arrow {
    position:absolute;
    top:5px;
    right:-16px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#ffffff #ffffff #ffffff #F8C301;
}
.talkArea .receive {
    position:absolute;
    float: left;
    left:50px;
    min-width: 20px;
    height:35px;
    background:#F0F0F0;
    border-radius:5px; /* 圆角 */
    margin:0;
    padding-left: 5px;
}
.talkArea .receiveUser{
    position: absolute;
    float: left;
    left:20px;
    height: 20px;
    width: 20px;
}
.talkArea.receiveDate{
    position: absolute;
    float: left;
    left:20px;
    width:200px;
    height: 35px;

}
.talkArea .receive .arrow {
    position:absolute;
    top:5px;
    left:-16px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#ffffff #f0f0f0 #ffffff #ffffff;
}
